
@media screen and (max-width: 800px) 
{
	.button{
		width:100%;
		height: : auto;
	}
}

iframe{
	margin-top: 25px;
}

h2{
	margin-top: 100px!important;
}

.level
{
	color: #ffffff; 
	padding-top: 20px;
	padding-bottom: 20px; 
	text-align: center;
	font-family: consolas; 
	border:2px solid #000000;
	border-radius: 25px;
	backdrop-filter: blur(20px);
    margin-top: 50px;
}
