.button
{
	display: inline-block;
	border-radius: 10px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: 300px;
	transition: all 0.2s;
	cursor: pointer;
	vertical-align:middle;
	backdrop-filter: blur(40px);
	border-radius: 8px;
	margin-top: 50px;
}
.button span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after 
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}
.button:hover span
{
	padding-right: 25px;
}
.button:hover span:after
{
	opacity: 1;
	right: 0;
}
.button:active
{
	background-color: #656c6b;
	box-shadow: 0 5px #666;
	transform: translateY(10px);
}
@media screen and (max-width: 800px) 
{
	.button{
		width:100%;
		height: : auto;
	}
}

iframe{
	margin-top: 25px;
}

h2{
	margin-top: 100px!important;
}

.level
{
	color: #ffffff; 
	padding-top: 20px;
	padding-bottom: 20px; 
	text-align: center;
	font-family: consolas; 
	border:2px solid #000000;
	border-radius: 25px;
	backdrop-filter: blur(20px);
    margin-top: 50px;
}
#call{
	text-align: center;
	;
}
